@use "../../../utilities/mixins";
@import "../../../utilities/variables";

header{
  height: 35vh;
  @include mixins.media(lg) {
    height: 40vh;
  }
}

main{
  height: 80vh;
  @include mixins.media(lg) {
    height: 100vh;
  }
}

.header {
  @include mixins.media(sm) {
    span {
      font-size: 100px;
      &::before {
        font-size: 100px;
      }
    }
    h2 {
      font-size: 20px;
    }
  }

  @include mixins.media(lg) {
    span {
      font-size: 100px;
      &::before {
        font-size: 100px;
      }
    }
    h2 {
      font-size: 20px;
    }
  }
}
