* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 0.7813rem;
}

body {
  scroll-behavior: smooth;
}

.page {
  scroll-behavior: smooth;
}

.title-gradient {
  text-align: center;
  font-size: 4rem;
  font-weight: 800;
  letter-spacing: -0.06em;
}
.title-gradient h1 {
  display: inline-flex;
  gap: 0.3125rem;
}
.title-gradient span {
  color: #fff;
  display: block;
  font-size: 4rem;
  line-height: 1.1;
  position: relative;
  padding: 0.0625rem 0.25rem;
  font-weight: 800;
}
.title-gradient span::before {
  animation-name: var(--animation, a);
  animation-duration: 8s;
  animation-iteration-count: infinite;
  background: linear-gradient(90deg, var(--start-color), var(--end-color));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
  font-size: 4rem;
  position: absolute;
  inset: 0;
  content: var(--content);
  opacity: 1;
}
@keyframes a {
  0%, 16.667%, 100% {
    opacity: 1;
  }
  33.333%, 83.333% {
    opacity: 0;
  }
}
@keyframes a2 {
  0%, 100% {
    opacity: 0;
  }
  33.333%, 50% {
    opacity: 1;
  }
  16.667%, 66.667% {
    opacity: 0;
  }
}
@keyframes a3 {
  0%, 50%, 100% {
    opacity: 0;
  }
  66.667%, 83.333% {
    opacity: 1;
  }
}

header {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

:root {
  /* ===== Colors ===== */
  --body-color: #f6f5ff;
  --sidebar-color: #fff;
  --primary-color: #e0e0fb;
  --primary-color-light: #f6f5ff;
  --toggle-color: #e0e0fb;
  --text-color: #707070;
  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

.page {
  color: #707070;
}
.page span {
  color: #707070;
}

.page {
  left: 5.5rem;
  height: max-content;
  width: calc(100% - 5.5rem);
  background-color: var(--body-color);
  transition: var(--tran-05);
  position: absolute;
}
@media screen and (min-width: 1024px) {
  .page {
    width: calc(100% - 15.625rem);
    left: 15.625rem;
  }
}

.text {
  font-weight: 500;
  color: var(--text-color);
  padding: 0.5rem;
}

.sidebar.close ~ .page {
  width: calc(100% - 5.5rem);
  left: 5.5rem;
}

body.dark .page .text {
  color: var(--text-color);
}

body {
  background-color: var(--body-color);
  transition: var(--tran-05);
}

::selection {
  background-color: var(--primary-color);
  color: #fff;
}

body.dark {
  --body-color: black;
  --sidebar-color: #2e3031;
  --primary-color: #201824;
  --primary-color-light: #3a3b3c;
  --toggle-color: #201824;
  --text-color: #ccc;
}
body.dark .page {
  background-color: #242526;
  background-image: linear-gradient(1deg, #242526 3%, rgba(25, 0, 32, 0.0901960784) 91%);
}
body.dark .page h2 {
  color: #ccc;
}
body.dark .page span {
  color: #ccc;
}

/* ===== Sidebar ===== */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 15.625rem;
  padding: 1.5rem 0.8rem;
  background: var(--sidebar-color);
  transition: var(--tran-05);
  z-index: 100;
}
.sidebar li {
  list-style: none;
  width: 100%;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0.3125rem;
  background-color: var(--primary-color-light);
}
.sidebar li a {
  list-style: none;
  background-color: transparent;
  border-radius: 0.5rem;
  text-decoration: none;
  transition: var(--tran-03);
  display: flex;
}
.sidebar .bars {
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .sidebar .bars {
    margin-top: 0rem;
  }
}
.sidebar .menu-links {
  margin-bottom: 6rem;
}
@media screen and (min-width: 768px) {
  .sidebar .menu-links {
    margin-bottom: 1rem;
  }
}
.sidebar img {
  max-width: 3.025rem;
  transform: scale(1.1);
}
.sidebar img:hover {
  transform: scale(1.2);
  transition: all 0.3s;
}
.sidebar .text {
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
}
.sidebar .icon {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--primary-color);
  transform: scale(1.1);
}
.sidebar .icon:hover {
  transform: scale(1.2);
  transition: all 0.3s;
}
.sidebar .menu-bar {
  height: 90vh;
  gap: 1rem;
  margin: auto;
  width: 94%;
}
.sidebar .menu-bar::-webkit-scrollbar {
  display: none;
}
.sidebar .menu-bar .mode {
  border-radius: 0.5rem;
  background-color: var(--primary-color-light);
  position: relative;
  transition: var(--tran-05);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--text-color);
}

/* ===== Sidebar close===== */
.sidebar.close {
  width: 5.5rem;
  height: 100vh;
}
.sidebar.close li {
  min-width: 3rem;
}
.sidebar.close .menu-bar .mode .sun-moon {
  height: 3.125rem;
  width: 3.125rem;
}
.sidebar.close .text {
  opacity: 0;
}
.sidebar.close .sun-moon {
  display: none;
}

/* custom code */
.sidebar .text,
.sidebar .icon {
  color: var(--text-color);
  transition: var(--tran-03);
}

/* =========================== */
body.dark .sidebar .bars .toggle {
  color: var(--text-color);
}

.sidebar li.search-box {
  border-radius: 0.5rem;
  background-color: var(--primary-color-light);
  cursor: pointer;
  transition: var(--tran-05);
}
.sidebar li.search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--primary-color-light);
  color: var(--text-color);
  border-radius: 0.5rem;
  font-size: 1.0625rem;
  font-weight: 500;
  transition: var(--tran-05);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
  color: var(--text-color);
}

.mode {
  height: 3.125rem;
  padding: 0.3125rem;
}

.sidebar .menu-bar .mode {
  background-color: var(--primary-color-light);
  position: relative;
  transition: var(--tran-05);
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  background-color: var(--primary-color-light);
  border-radius: 0.5rem;
}

.menu-bar .mode .sun-moon {
  height: 3.125rem;
}

.mode .sun-moon i {
  position: absolute;
}

.mode .sun-moon i.sun {
  opacity: 0;
}

body.dark .mode .sun-moon i.sun {
  opacity: 1;
}

body.dark .mode .sun-moon i.moon {
  opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
  position: absolute;
  right: 0;
  height: 3.125rem;
  min-width: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
  cursor: pointer;
}

.toggle-switch .switch {
  position: relative;
  height: 1.375rem;
  width: 2.5rem;
  border-radius: 1.5625rem;
  background-color: var(--toggle-color);
  transition: var(--tran-05);
}

.switch::before {
  content: "";
  position: absolute;
  height: 0.9375rem;
  width: 0.9375rem;
  border-radius: 50%;
  top: 50%;
  left: 0.3125rem;
  transform: translateY(-50%);
  background-color: var(--sidebar-color);
  transition: var(--tran-04);
}

body.dark .switch::before {
  left: 1.25rem;
}

a {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
}

.preloader {
  width: 100vw;
  height: 100vh;
  background: #757575;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
}

.loader {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #ccc;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.products {
  margin: auto;
  padding: 0.5rem;
  background: rgba(255, 255, 255, 0.014);
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 1px solid rgba(255, 255, 255, 0.055);
  box-sizing: border-box;
  border-radius: 0.5rem;
  text-transform: uppercase;
  gap: 1em;
}

footer {
  margin: auto;
  padding: 0rem;
  background: rgba(255, 255, 255, 0.014);
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-top: 1px solid rgba(255, 255, 255, 0.055);
  box-sizing: border-box;
  border-radius: 0.5rem;
  text-transform: uppercase;
  gap: 1em;
  border-radius: 0;
}

h1 {
  margin: 0;
  padding: 0;
  font-weight: 700 !important;
  text-transform: uppercase;
}

h2 {
  margin: 0;
  padding: 0;
  font-weight: 600 !important;
  text-transform: capitalize;
}

p {
  margin: 0;
  padding: 0;
  font-weight: 500;
  text-transform: capitalize;
}

a {
  text-transform: capitalize;
}

.about {
  height: 56px;
}

.notable {
  border-color: rgba(112, 112, 112, 0.1764705882);
}

.items {
  border-color: rgba(112, 112, 112, 0.1764705882);
}

.swiper-button-prev,
.swiper-button-next {
  color: rgba(240, 248, 255, 0.233);
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: rgba(240, 248, 255, 0.87);
  transition: 0.5s;
}

img {
  border-radius: 0.5rem;
}

.collections {
  margin: auto;
  padding: 0.5rem;
  background: rgba(255, 255, 255, 0.014);
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 1px solid rgba(255, 255, 255, 0.055);
  box-sizing: border-box;
  border-radius: 0.5rem;
  text-transform: uppercase;
  gap: 1em;
}
.collections .img {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

/*# sourceMappingURL=style.css.map */
