/* ====== general ====== */
/* ====== Responsive ====== */
/* ===== Container ===== */
/* ===== Flex ===== */
/* ===== Texts ===== */
/* ===== Longitude ===== */
/* ===== Responsive ===== */
/* ====== general ====== */
/* ====== Responsive ====== */
/* ===== Scrollbar CSS ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #484449 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0.7rem;
}

*::-webkit-scrollbar-track {
  background: var(--body-color);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.664);
  border-radius: 0.5rem;
  border: 2px solid var(--body-color);
}

html {
  font-size: 0.7813rem;
  scroll-behavior: smooth;
}

/* ====== general ====== */
/* ====== Responsive ====== */
img {
  border-radius: 0.5rem;
}

h1 {
  margin: 0;
  padding: 0;
  font-weight: 700 !important;
  text-transform: uppercase;
}

h2 {
  margin: 0;
  padding: 0;
  font-weight: 600 !important;
  text-transform: capitalize;
}

p {
  margin: 0;
  padding: 0;
  font-weight: 500;
}

a {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
}

footer {
  margin: auto;
  padding: 0rem;
  background: rgba(255, 255, 255, 0.014);
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.37);
  border-top: 1px solid rgba(255, 255, 255, 0.055);
  box-sizing: border-box;
  border-radius: 0.5rem;
  gap: 1rem;
  border-radius: 0;
}

.collections {
  margin: auto;
  padding: 0.5rem;
  background: rgba(255, 255, 255, 0.014);
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 1px solid rgba(255, 255, 255, 0.055);
  box-sizing: border-box;
  border-radius: 0.5rem;
  gap: 1rem;
}

.products {
  margin: auto;
  padding: 0.5rem;
  background: rgba(255, 255, 255, 0.014);
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 1px solid rgba(255, 255, 255, 0.055);
  box-sizing: border-box;
  border-radius: 0.5rem;
  gap: 1rem;
}

.notable {
  border-color: rgba(112, 112, 112, 0.1764705882);
}

.items {
  border-color: rgba(112, 112, 112, 0.1764705882);
}

.preloader {
  width: 100vw;
  height: 100vh;
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.37);
  background: rgba(29, 29, 29, 0.8);
  -webkit-backdrop-filter: saturate(300%) blur(100px);
  backdrop-filter: saturate(300%) blur(100px);
  border-top: 1px solid rgba(255, 255, 255, 0.055);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
}
@media screen and (min-width: 1024px) {
  .preloader {
    width: calc(100% - 5.5rem);
    left: auto;
    z-index: 50;
  }
}
.preloader .tetrominos {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-112px, -96px);
}
.preloader .tetromino {
  width: 96px;
  height: 112px;
  position: absolute;
  transition: all ease 0.3s;
  background: url('data:image/svg+xml;utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 612 684"%3E%3Cpath fill="%23010101" d="M305.7 0L0 170.9v342.3L305.7 684 612 513.2V170.9L305.7 0z"/%3E%3Cpath fill="%23fff" d="M305.7 80.1l-233.6 131 233.6 131 234.2-131-234.2-131"/%3E%3C/svg%3E') no-repeat top center;
}
.preloader .box1 {
  animation: tetromino1 1.5s ease-out infinite;
}
.preloader .box2 {
  animation: tetromino2 1.5s ease-out infinite;
}
.preloader .box3 {
  animation: tetromino3 1.5s ease-out infinite;
  z-index: 2;
}
.preloader .box4 {
  animation: tetromino4 1.5s ease-out infinite;
}
@keyframes tetromino1 {
  0%, 40% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(48px, -27px);
  }
  60%, 100% {
    transform: translate(96px, 0);
  }
}
@keyframes tetromino2 {
  0%, 20% {
    transform: translate(96px, 0px);
  }
  40%, 100% {
    transform: translate(144px, 27px);
  }
}
@keyframes tetromino3 {
  0% {
    transform: translate(144px, 27px);
  }
  20%, 60% {
    transform: translate(96px, 54px);
  }
  90%, 100% {
    transform: translate(48px, 27px);
  }
}
@keyframes tetromino4 {
  0%, 60% {
    transform: translate(48px, 27px);
  }
  90%, 100% {
    transform: translate(0, 0);
  }
}

.title-gradient {
  text-align: center;
  font-weight: 800;
  letter-spacing: -0.06em;
}
.title-gradient h1 {
  display: inline-flex;
}
.title-gradient span {
  color: #fff;
  display: block;
  font-size: 4rem;
  line-height: 1.1;
  position: relative;
  padding: 0.0625rem 0.25rem;
  font-weight: 800;
}
.title-gradient span::before {
  animation-name: var(--animation, a);
  animation-duration: 8s;
  animation-iteration-count: infinite;
  background: linear-gradient(90deg, var(--start-color), var(--end-color));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
  font-size: 4rem;
  position: absolute;
  inset: 0;
  content: var(--content);
  opacity: 1;
}
@keyframes a {
  0%, 16.667%, 100% {
    opacity: 1;
  }
  33.333%, 83.333% {
    opacity: 0;
  }
}
@keyframes a2 {
  0%, 100% {
    opacity: 0;
  }
  33.333%, 50% {
    opacity: 1;
  }
  16.667%, 66.667% {
    opacity: 0;
  }
}
@keyframes a3 {
  0%, 50%, 100% {
    opacity: 0;
  }
  66.667%, 83.333% {
    opacity: 1;
  }
}

header {
  flex-direction: column;
  gap: 0;
  text-align: center;
  text-transform: uppercase;
  background-size: cover;
  background-repeat: no-repeat;
}

/* ===== Color palette===== */
:root {
  --body-color: #f6f5ff;
  --sidebar-color: #fff;
  --icon-color: #e0e0fb;
  --primary-color: #f6f5ff;
  --toggle-color: #e0e0fb;
  --text-color: #707070;
  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

/* ===== Page ===== */
.page {
  left: 5.5rem;
  height: max-content;
  width: calc(100% - 5.5rem);
  position: absolute;
}
@media screen and (min-width: 1024px) {
  .page {
    width: calc(100% - 15.625rem);
    left: 15.625rem;
  }
}

.sidebar.close ~ .page {
  width: calc(100% - 5.5rem);
  left: 5.5rem;
}

.swiper-pagination {
  bottom: 0 !important;
}

.swiper-pagination-bullet {
  width: 0.7rem;
  height: 0.7rem;
  bottom: 0;
}

/* ===== Custom code ===== */
body {
  background-color: var(--body-color);
}

.page {
  background-color: var(--body-color);
  transition: var(--tran-05);
}
.page span {
  color: var(--text-color);
}

.text {
  color: var(--text-color);
}

.swiper-pagination-bullet {
  background: var(--text-color);
}

/* ===== Dark mode ===== */
body.dark {
  --body-color: #242526;
  --sidebar-color: #2e3031;
  --icon-color: #201824;
  --primary-color: #3a3b3c;
  --toggle-color: #201824;
  --text-color: #ccc;
}

body.dark .switch::before {
  left: 1.25rem;
}
body.dark .menu-bar .mode .sun-moon .sun {
  opacity: 1;
}

/* ====== general ====== */
/* ====== Responsive ====== */
/* ===== Sidebar ===== */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 15.625rem;
  padding: 1.5rem 0.8rem;
  z-index: 100;
}
.sidebar li {
  list-style: none;
  width: 100%;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0.3125rem;
}
.sidebar li a {
  list-style: none;
  background-color: transparent;
  border-radius: 0.5rem;
  text-decoration: none;
  display: flex;
}
.sidebar li img {
  max-width: 3.025rem;
  transform: scale(1.1);
}
.sidebar li img:hover {
  transform: scale(1.2);
  transition: all 0.3s;
}
.sidebar .text {
  font-weight: 500;
  opacity: 1;
}
.sidebar .bars {
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .sidebar .bars {
    margin-top: 0rem;
  }
}
.sidebar .menu-links {
  margin-bottom: 6rem;
}
@media screen and (min-width: 768px) {
  .sidebar .menu-links {
    margin-bottom: 1rem;
  }
}
.sidebar .icon {
  padding: 1rem;
  border-radius: 0.5rem;
  transform: scale(1.1);
}
.sidebar .icon:hover {
  transform: scale(1.2);
  transition: all 0.3s;
}

/* ===== Menu ===== */
.menu-bar {
  height: 90vh;
  gap: 1rem;
  margin: auto;
  width: 94%;
}
.menu-bar::-webkit-scrollbar {
  display: none;
}
.menu-bar .mode {
  min-height: 3.125rem;
  padding: 0.3125rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.menu-bar .mode .sun-moon {
  height: 3.125rem;
}
.menu-bar .mode .sun-moon i {
  position: absolute;
}
.menu-bar .mode .sun-moon .sun {
  opacity: 0;
}
.menu-bar .bottom-content .toggle-switch {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: 0.5rem;
  min-width: 3.75rem;
  height: 3.125rem;
  position: absolute;
  right: 0;
  cursor: pointer;
}
.menu-bar .bottom-content .toggle-switch .switch {
  height: 1.375rem;
  width: 2.5rem;
  border-radius: 1.5625rem;
  position: relative;
}

.switch::before {
  content: "";
  width: 0.9375rem;
  height: 0.9375rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0.3125rem;
  transform: translateY(-50%);
}

/* ===== Sidebar close===== */
.sidebar.close {
  width: 5.5rem;
  height: 100vh;
}
.sidebar.close li {
  min-width: 3rem;
}
.sidebar.close .menu-bar .mode .sun-moon {
  width: 3.125rem;
  height: 3.125rem;
}
.sidebar.close .text {
  opacity: 0;
}
.sidebar.close .sun-moon {
  display: none;
}

/* ===== Custom code ===== */
.sidebar {
  background: var(--sidebar-color);
  transition: var(--tran-05);
}
.sidebar .text,
.sidebar .icon {
  color: var(--text-color);
  transition: var(--tran-03);
}
.sidebar li {
  background-color: var(--primary-color);
}
.sidebar li a {
  transition: var(--tran-03);
}

.menu-bar .mode {
  background-color: var(--primary-color);
  transition: var(--tran-05);
  border-radius: 0.5rem;
}
.menu-bar .icon {
  background-color: var(--icon-color);
}
.menu-bar .bottom-content .toggle-switch .switch {
  background-color: var(--toggle-color);
  transition: var(--tran-05);
}

.switch::before {
  background-color: var(--sidebar-color);
  transition: var(--tran-04);
}

/*# sourceMappingURL=style.css.map */
