@import "./variables";

/* ===== Container ===== */
@mixin container() {
  @include margin($padding: 0.5rem, $margin: auto);
  @include glass();
  box-sizing: border-box;
  border-radius: 0.5rem;
  gap: $gap;
}

@mixin container-two() {
  @include margin($padding: 0rem, $margin: auto);
  @include glass-two();
  box-sizing: border-box;
  border-radius: 0.5rem;
  gap: $gap;
}

@mixin glass() {
  background: rgba(255, 255, 255, 0.014);
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.37);;
  border: 1px solid rgba(255, 255, 255, 0.055);
}

@mixin glass-two() {
  background: rgba(255, 255, 255, 0.014);
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.37);
  border-top: 1px solid rgba(255, 255, 255, 0.055);
}

@mixin loader() {
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.37);
  background: rgba(29, 29, 29, 0.8);
  -webkit-backdrop-filter: saturate(300%) blur(100px);
  backdrop-filter: saturate(300%) blur(100px);
  border-top: 1px solid rgba(255, 255, 255, 0.055);
}

/* ===== Flex ===== */
@mixin flex() {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

/* ===== Texts ===== */

@mixin h1() {
  @include margin($margin, $padding);
  font-weight: 700 !important;
  text-transform: uppercase;
}

@mixin h2() {
  @include margin($margin, $padding);
  font-weight: 600 !important;
}

@mixin p() {
  @include margin($margin, $padding);
  font-weight: 500;
}

/* ===== Longitude ===== */

@mixin margin($margin, $padding) {
  margin: $margin;
  padding: $padding;
}

/* ===== Responsive ===== */

@mixin media($breakpoint) {
  @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}
