@use "../../utilities/mixins";
@use "./title-gradient";
@import "../../utilities/variables";

header {
  text-transform: uppercase;
  @include mixins.flex(
    $gap: 0,
    $flex-col: column,
    $justify: center,
    $items: center
  );
  background-image: url(../img/index/home-gradient-light.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.btn {
  height: 100%;
  width: 100%;
  border-radius: 0.375rem;
  padding: 0.625rem;
  background-color: #f6f5ff;
  color: #707070;
  transition: all 1s;
  &:hover {
    background-color: #cf6ab198;
  }
}


:root {
  /* ===== Colors ===== */
  --body-color: #f6f5ff;
  --sidebar-color: #fff;
  --primary-color: #f6f5ff;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;

  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}


.page{
  color: #707070;
  span{
    color: #707070;
  }
}



body {
  background-color: var(--body-color);
  transition: var(--tran-05);
}

::selection {
  background-color: var(--primary-color);
  color: #fff;
}

body.dark {
  --body-color: black;
  --sidebar-color: #2e3031;
  --primary-color: #201824;
  --primary-color-light: #3a3b3c;
  --toggle-color: #201824;
  --text-color: #ccc;

  .page {
    background-color:#242526;
    background-image: linear-gradient(1deg, #242526 3%, #19002017 91%);
    h2 {
      color: #ccc;
    }
    span {
      color:  #ccc;
    }
  }
}

/* ===== Sidebar ===== */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 15.625rem;
  padding: 0.625rem 0.875rem;
  background: var(--sidebar-color);
  transition: var(--tran-05);
  z-index: 100;
}
.sidebar.close {
  width: 5.5rem;
}

/* ===== Reusable code - Here ===== */
.sidebar li {
  height: 3.125rem;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 0.625rem;
}

.bars {
  margin-top: 1em;
}

.sidebar .icon {
  min-width: 3.75rem;
  border-radius: 0.375rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
}

.sidebar .text,
.sidebar .icon {
  color: var(--text-color);
  transition: var(--tran-03);
}

.sidebar .text {
  font-size: 1.0625rem;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
}
.sidebar.close .text {
  opacity: 0;
}
/* =========================== */

.sidebar .bars {
  position: relative;
}

.sidebar .bars .image-text {
  display: flex;
  align-items: center;
}
.sidebar .bars .logo-text {
  display: flex;
  flex-direction: column;
}
.bars .image-text .name {
  margin-top: 0.125rem;
  font-size: 1.125rem;
  font-weight: 600;
}

.bars .image-text .profession {
  font-size: 1rem;
  margin-top: -0.125rem;
  display: block;
}

.sidebar .bars .image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar .bars .image img {
  width: 2.5rem;
  border-radius: 0.375rem;
}

.sidebar .bars .toggle {
  position: absolute;
  top: 50%;
  right: -1.5625rem;
  transform: translateY(-50%) rotate(180deg);
  height: 1.5625rem;
  width: 1.5625rem;
  background-color: var(--toggle-color);
  color: var(--text-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  cursor: pointer;
  transition: var(--tran-05);
}

body.dark .sidebar .bars .toggle {
  color: var(--text-color);
}

.sidebar.close .toggle {
  transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
  margin-top: 2.5rem;
}

.sidebar li.search-box {
  border-radius: 0.375rem;
  background-color: var(--primary-color-light);
  cursor: pointer;
  transition: var(--tran-05);
}

.sidebar li.search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--primary-color-light);
  color: var(--text-color);
  border-radius: 0.375rem;
  font-size: 1.0625rem;
  font-weight: 500;
  transition: var(--tran-05);
}
.sidebar li a {
  list-style: none;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 0.375rem;
  text-decoration: none;
  transition: var(--tran-03);
}

.sidebar li a:hover {
  background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--text-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
  color: var(--text-color);
}

.sidebar .menu-bar {
  height: calc(100% - 55px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar {
  display: none;
}
.sidebar .menu-bar .mode {
  border-radius: 0.375rem;
  background-color: var(--primary-color-light);
  position: relative;
  transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
  height: 3.125rem;
  width: 3.75rem;
}

.mode .sun-moon i {
  position: absolute;
}
.mode .sun-moon i.sun {
  opacity: 0;
}
body.dark .mode .sun-moon i.sun {
  opacity: 1;
}
body.dark .mode .sun-moon i.moon {
  opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
  position: absolute;
  right: 0;
  height: 100%;
  min-width: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
  cursor: pointer;
}
.toggle-switch .switch {
  position: relative;
  height: 1.375rem;
  width: 2.5rem;
  border-radius: 1.5625rem;
  background-color: var(--toggle-color);
  transition: var(--tran-05);
}

.switch::before {
  content: "";
  position: absolute;
  height: 0.9375rem;
  width: 0.9375rem;
  border-radius: 50%;
  top: 50%;
  left: 0.3125rem;
  transform: translateY(-50%);
  background-color: var(--sidebar-color);
  transition: var(--tran-04);
}

body.dark .switch::before {
  left: 1.25rem;
}

.page {
  left: 15.625rem;
  height: max-content;
  width: 100%;
  background-color: var(--body-color);
  transition: var(--tran-05);
  position: absolute;
  @include mixins.media(lg) {
    width: calc(100% - 15.625rem);
  }
}
.text {
  font-size: 1.875rem;
  font-weight: 500;
  color: var(--text-color);
  padding: 0.75rem 3.75rem;
}

.sidebar.close ~ .page {
  left: 4.875rem;
  width: calc(100% - 4.875rem);
}
body.dark .page .text {
  color: var(--text-color);
}
