@use "../../utilities/mixins";
@use "./title-gradient";

header {

  flex-direction: column;
  gap: 0;
  text-align: center;
  text-transform: uppercase;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
