@use "../../utilities/mixins";
@import "../../utilities/variables";

.preloader {
  width: 100vw;
  height: 100vh;
  background:  #757575;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;

}


.loader {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #ccc;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

.products {
  @include mixins.container();
}

footer {
  @include mixins.container-two();
  border-radius: 0;
}

h1 {
  @include mixins.h1();
}
h2 {
  @include mixins.h2();
  text-transform: capitalize;
}

p {
  @include mixins.p();
  text-transform: capitalize;
}

a {
  text-transform: capitalize;
}

.about {
  height: 56px;
}

.notable{
border-color: #7070702d;
}

.items{
  border-color: #7070702d;
}

.swiper-button-prev,
.swiper-button-next {
  color: rgba(240, 248, 255, 0.233);
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: rgba(240, 248, 255, 0.87);
  transition: 0.5s;
}

img {
  border-radius: 0.5rem;
}

.collections {
  @include mixins.container();
  .img {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
}
