@use "../../utilities/mixins";
@import "../../utilities/variables";


.products {
  @include mixins.container();
}

footer{
  @include mixins.container();
  border-radius: 0;
}

h1 {
  @include mixins.h1();
}
h2 {
  @include mixins.h2();
  text-transform: capitalize;
}

p{
  @include mixins.p();
  text-transform: capitalize;
}

a{
  text-transform: capitalize;
}

.about{
  height: 56px;
}

.swiper-button-prev,
.swiper-button-next {
  color: rgba(240, 248, 255, 0.233);
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: rgba(240, 248, 255, 0.87);
  transition: 0.5s;
}

img {
  border-radius: 0.5rem;
 
}


.collections {
  @include mixins.container();
  .img {

    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
}
