@use "../../utilities/mixins";
@import "../../utilities/variables";

.products {
  
    @include mixins.container();
  
}

h2 {
  @include mixins.h2();
}

.swiper-button-prev,
.swiper-button-next {
  color: rgba(240, 248, 255, 0.233);
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: rgba(240, 248, 255, 0.87);
  transition: 0.5s;
}

img {
  border-radius: 0.5rem;
}

.nft {
  &-collectibles {
    background: #fff;
    height: 18rem;
    border-radius: 0.5rem;
    .img {
      max-height: 14rem;

      background-image: url(../img/index/collectibles.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 100vh;
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
    }
  }
  &-art {
    background: #fff;
    height: 18rem;
    border-radius: 0.5rem;
    .img {
      max-height: 14rem;
      background-image: url(../img/index/art.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 100vh;

      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
    }
  }
  &-3d {
    height: 18rem;
    background: #fff;
    border-radius: 0.5rem;
    .img {
      max-height: 14rem;

      background-image: url(../img/index/3d.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 100vh;

      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
    }
  }
}
