@use "../utilities/mixins";
@import "../utilities/variables";
/* ===== Scrollbar CSS ===== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #484449 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: .7rem;

}

*::-webkit-scrollbar-track {
  background: var(--body-color);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.664);
  border-radius: 0.5rem;
  border: 2px solid var(--body-color);
}

html {
  font-size: 0.7813rem;
  scroll-behavior: smooth;
}
