@use "../utilities/mixins";
@import "../utilities/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; scroll-behavior: smooth;
}

html{
  font-size: .7813rem;
}
body{
  scroll-behavior: smooth;
}

.page{
  scroll-behavior: smooth;
}